<h1>Please confirm your waitlist subscription</h1>

<p>You recently signed up to secure a spot on the waitlist for <%= ApplicationController.helpers.application_name%>.</p>

<p>Please click this link to confirm: <%= waitlist_emails_confirm_url(@waitlist_email_id) %></p>

<p>Thanks!</p>
