<%= render UI::Navbar::Component.new(disable_mobile_nav: true) do |nb| %>
  <% nb.with_left do %>
    <%= link_to root_path, class: "font-bold text-2xl flex items-center" do %>
      <svg class="inline-block text-foreground-100" width="32" height="32" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="26" cy="16" r="15" stroke="currentColor" stroke-width="2"/>
        <circle cx="16" cy="32" r="15" stroke="currentColor" stroke-width="2"/>
        <circle cx="35" cy="32" r="15" stroke="currentColor" stroke-width="2"/>
      </svg>

      <span class="ml-2 text-sm uppercase"><%= application_name %></span>
    <% end %>
  <% end %>

  <% nb.with_center do %>
  <% end %>

  <% nb.with_right do %>
  <% end %>

  <% nb.with_mobile_menu do %>
    <div class="space-y-2 py-6">
      <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
      <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
      <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
      <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
    </div>
    <div class="py-6">
      <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-foreground-100">Log in</a>
    </div>
  <% end %>
<% end %>
