<main class="max-w-4xl xl:max-w-5xl mx-auto">
  <div class="flex flex-col gap-y-10 lg:flex-row items-center gap-x-10 justify-center px-4 lg:px-0 py-20 lg:py-44">
    <div class="lg:w-[710px] flex flex-col gap-y-5">
      <h1 class="text-4xl md:text-5xl xl:text-[50px] leading-[1.2] md:max-w-xl md:mx-auto md:text-center lg:text-left lg:mx-0 lg:max-w-full font-semibold text-black">
        Our focus is on helping your business expand its online presence.
      </h1>
      <p class="md:max-w-xl md:mx-auto lg:mx-0 lg:max-w-full md:text-center lg:text-left">
        Growing a business to the next level requires strategic planning, a clear understanding of market trends, and the right tools and resources to execute on your vision.
      </p>

      <div class="input-form flex items-center justify-center lg:justify-start gap-x-1 lg:gap-x-5">
        <div class="w-2/3"><input type="text" placeholder="Enter your email address" class="py-2 px-5 lg:py-3 placeholder:text-sm rounded-full w-full focus:outline-none ring-1 ring-[#0A071B] focus:ring-2 focus:ring-[#0A071B]"></div>
        <button class="bg-[#0A071B] w-1/3 hover:shadow-lg border border-transparent hover:drop-shadow transition duration-200 lg:w-1/3 text-white font-semibold text-xs lg:text-base rounded-full px-5 py-3">Try free</button>
      </div>

    </div>

    <div class="hero-image md:px-5 lg:px-0 w-full lg:w-1/2 rounded-3xl md:pt-2 lg:pt-0"></div>

  </div>
</main>
